# Byte-compiled / optimized / DLL files
__pycache__/
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__
*.py[cod]
*$py.class

# vscode
.vscode/settings.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Raw dataset
original_images/
cropped_images/
greyscale_images/
64x64_images/
test/
greyjacobdaniel/
Jacob Daniel/
CropSia/
CropDO/
CropAvin/
jacobdanielgrey/
ORIGINAL/
greyscale/
greyscalesave/
*.zip
*.csv
*.txt